<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{ path("home") }}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path("show_character")}}>Liste des héros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path("add_character")}}>Créer un héros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("type_list")}}">Liste des classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('add_class')}}">Créer une classe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('skill_list')}}">Liste des compétences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('add_skills')}}">Créer des compétences</a>
        </li>
      </ul>
    </div>
  </div>
</nav>