{% extends 'homepage.html.twig' %}

{% block title %}Liste des héros{% endblock %}

{% block body %}
    <div class="album py-5 bg-light"
        <div class="container-fluid">
            <div class="row">
            {% for hero in heroes %}        
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ hero.name }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-items">Description : {{ hero.description }}</li>
                            <li class="list-group-items">Classe : {{ hero.classHeros }}</li>
                            <li class="list-group-items">Création : {{ hero.birthDate | date('d/m/y') }}</li>
                            <li class="list-group-items">Niveau : {{ hero.level }}</li>
                            <li class="list-group-items">Expérience : {{ hero.experience }}</li>
                            <li class="list-group-items">Point de vie : {{ hero.healtpoint }}</li>
                            
                        </ul>
                            <div class="card-body">
                                <div class="btn-group">
                                    <a href="{{ path('edit_character', {"id": hero.id}) }}" class="btn btn-sm btn-outline-secondary">Editer</a>
                                    <a href="{{ path('delete_character', {"id": hero.id}) }}" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Confirmez la suppression')">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
